<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
</head>
<body>
<div class="">
  <div class="card" style="padding: 5px; margin: 5px;">
    <div class="card-header">
      <h2>{{ pageTitle }}<span *ngIf="eventMsg">: {{ eventMsg }}</span></h2>
    </div>
    <div class="card-body ml-1 mr-1">
      <div class="row">
        <div class="col-sm-1">
          Filter by:
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]='listFilter' >
        </div>
      </div>
      <div class="row">
        <h3 class="col-sm-4">Filtered by: {{ listFilter }}</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
        <tr>
          <button mat-raised-button color="primary" (click)="toggleImage()">{{ showImage? 'Hide': 'Show'}} Image</button>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td> <img *ngIf="showImage" [src]='product.imageUrl' [title]='product.productName'
                    [style.width.px]='imageWidth' [style.margin.px]='imageMargin'> </td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productCode | toSpace: '-' }}</td>
          <td>{{ product.releaseDate }}</td>
          <td><strong>{{ product.price | currency:'USD':'symbol':'1.2-2' | lowercase }}</strong></td>
          <td><app-star [rating]="product.productRate" (ratingClicked)='whenRatingClick($event)'>stars</app-star></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
